[elastic-{{ heartbeat_version }}]
name=Elastic repository for {{ heartbeat_version }} packages
baseurl=https://artifacts.elastic.co/packages/{{ filebeat_version }}/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md