{% if heartbeat_output_elasticsearch_enabled %}
  ### Elasticsearch as output
  output.elasticsearch:
    # Array of hosts to connect to.
    hosts: {{ heartbeat_output_elasticsearch_hosts | to_json }}
{% endif %}
  #####
{% if heartbeat_output_kibana_enabled %}
  setup.kibana:
    host: "{{ heartbeat_setup_kibana_host }}"
    #protocol: "https"
    #username: "elastic"
    #password: "changeme"
    #ssl.enabled: true
    #ssl.supported_protocols: [TLSv1.1, TLSv1.2, TLSv1.3]

    # List of root certificates for HTTPS server verifications
    #ssl.certificate_authorities: ["/etc/pki/root/ca.pem"]

    # Certificate for SSL client authentication
    #ssl.certificate: "/etc/pki/client/cert.pem"

{% endif %}
  setup.template.enabled: true
  setup.template.type: index
  setup.template.name: "heartbeat-%{[agent.version]}"
  setup.template.pattern: "heartbeat-%{[agent.version]}-*"
  #setup.dashboards.enabled: true
  processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
  # heartbeat.monitors:
  #   - type: http
  #     hosts: ["https://google.com"]
  #     check.response.status: [200]
  #     schedule: '@every 5s'
  heartbeat.config.monitors:
  #Directory + glob pattern to search for configuration files
    path: /etc/heartbeat/monitors.d/*.yml
  #If enabled, heartbeat will periodically check the config.monitors path for changes
    reload.enabled: true
  #How often to check for changes
    reload.period: 1s

# output.elasticsearch:
#   # Boolean flag to enable or disable the output module.
#   #enabled: true

#   # Array of hosts to connect to.
#   # Scheme and port can be left out and will be set to the default (http and 9200)
#   # In case you specify and additional path, the scheme is required: http://localhost:9200/path
#   # IPv6 addresses should always be defined as: https://[2001:db8::1]:9200
#   hosts: ["localhost:9200"]