[logstash-{{ metricbeat_version }}]
name=Elastic repository for {{ metricbeat_version }} packages
baseurl=https://artifacts.elastic.co/packages/{{ metricbeta_version }}/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md