filebeat:
  # List of inputs.
  inputs:
    {{ filebeat_inputs | to_json }}

# Configure what outputs to use when sending the data collected by the beat.
# Multiple outputs may be used.
output:

{% if filebeat_output_elasticsearch_enabled %}
  ### Elasticsearch as output
  elasticsearch:
    # Array of hosts to connect to.
    hosts: {{ filebeat_output_elasticsearch_hosts | to_json }}
{% if filebeat_ssl_certificate_file and filebeat_ssl_key_file %}
    # ssl configuration. By default is off.
    ssl:
      # List of root certificates for HTTPS server verifications
      certificate_authorities: ["{{ filebeat_ssl_dir }}/{{ filebeat_ssl_certificate_file | basename }}"]
      # Certificate for TLS client authentication
      certificate: "{{ filebeat_ssl_dir }}/{{ filebeat_ssl_certificate_file | basename }}"
      key: "{{ filebeat_ssl_dir }}/{{ filebeat_ssl_key_file | basename}}"
      insecure: {{ filebeat_ssl_insecure }}
{% endif %}
{% endif %}
{% if filebeat_output_kafka_enabled %}
  ### Kafka as output
  kafka:
    hosts: {{ filebeat_output_kafka_hosts | to_json }}
    topic: "{{ kafka_topic }}"
    partition.round_robin:
      reachable_only: false
    required_acks: 1
    max_message_bytes: 1000000
    compression: gzip
    # Authentication details. Password is required if username is set.
    #username: ''
    #password: ''
{% if filebeat_ssl_certificate_file and filebeat_ssl_key_file %}
    # ssl configuration. By default is off.
    ssl:
      # List of root certificates for HTTPS server verifications
      certificate_authorities: ["{{ filebeat_ssl_dir }}/{{ filebeat_ssl_certificate_file | basename }}"]
      # Certificate for TLS client authentication
      certificate: "{{ filebeat_ssl_dir }}/{{ filebeat_ssl_certificate_file | basename }}"
      key: "{{ filebeat_ssl_dir }}/{{ filebeat_ssl_key_file | basename}}"
{% endif %}
{% endif %}