input {
  kafka {
    bootstrap_servers => "{{ kafka_hosts }}"
    topics => "{{ kafka_topic }}"
    decorate_events => true
    #tags  => ["mongo", "logstash"]
    #client_id => "{{ client_id }}"
    #group_id  => "{{ group_id }}"
{% if logstash_ssl_certificate_file and logstash_ssl_key_file %}
    ssl => true
    ssl_certificate => "{{ logstash_ssl_dir }}/{{ logstash_ssl_certificate_file | basename }}"
    ssl_key => "{{ logstash_ssl_dir }}/{{ logstash_ssl_key_file | basename }}"
    ssl_verify_mode => "peer"
    ssl_certificate_authorities => "{{ logstash_ssl_dir }}/{{ logstash_ssl_certificate_file | basename }}"
{% endif %}
  }
}